body {
   background-image: url('../images/gradient_bg.png');
   background-repeat: no-repeat;
   background-position: center center;
   background-attachment: fixed;
   background-size: cover;
}

h1, h2, p, h3{
    color: #FFF;
}



.wifi{
    color: white;
}
.banner{
    position:relative;
    margin:0;
    padding:0;
	width: 100%;
}

.banner-small{
    display: none;
    position:relative;
    margin:0;
    padding:0;
	width: 100%;
}

.caption p{
    color: black;
}

#indexpic{
    height: auto; 
    width: auto; 
    max-width: 300px; 
    max-height: 300px;
    margin-top: 5%;
}

.centerBlock {
  display: table;
  margin: auto;
}

.nav-tabs > li > a{
    color: #8c3e1d !important;
}

@media (min-width: 768px) {
    .navbar .navbar-nav {
        display: inline-block;
        float: none;
        vertical-align: top;
    }

    .navbar .navbar-collapse {
        text-align: center;
    }

}

@media (max-width: 768px) {
   .gif{
       height: 130px;
   }
    .banner{
     display: none;
   }

   .banner-small{
     display: block;
   }

   h1{
       font-size: large;
       font-weight: bold;
   }

   h2{
       font-size: large;
       font-weight: bold;
   }

   p{
       font-size: small;
   }

   .container{
       padding: 30px !important;
   }
}